export SNOWFLAKE_CONNECTIONS_LOCAL_ACCOUNT="ZCPGFSY-MN91654"
export SNOWFLAKE_CONNECTIONS_LOCAL_USER="DBT_SVC_USER"
export SNOWFLAKE_CONNECTIONS_LOCAL_ROLE="ACCOUNTADMIN"
export SNOWFLAKE_CONNECTIONS_LOCAL_DATABASE="conn_db"
export SNOWFLAKE_CONNECTIONS_LOCAL_WAREHOUSE="COMPUTE_WH"
export SNOWFLAKE_HOME=.
