export SNOWFLAKE_CONNECTIONS_ADMIN_ACCOUNT="JUDRYDG-OX54644"
export SNOWFLAKE_CONNECTIONS_INGESTION_ACCOUNT="JUDRYDG-OX54644"
export SNOWFLAKE_CONNECTIONS_DBT_ACCOUNT="JUDRYDG-OX54644"
export SNOWFLAKE_CONNECTIONS_ADMIN_DATABASE="admin_db"
export SNOWFLAKE_HOME=.
